<div #map class="h-[60vh] sm:h-[calc(100vh-64px)] bg-red-50"></div>

<section class="h-[40vh] sm:fixed sm:w-[260px] bg-white rounded top-20 left-10 p-5 overflow-y-scroll">
  <h2 class="text-xl font-black text-black mb-2">Marcadores</h2>

<div class="flex flex-col gap-2">
  @for(marker of markers() ; track marker.id){

    <div class="
    form-control"
    (click)="flyToMarker(marker.mapboxMarker.getLngLat())"
    (dblclick)="deleteMarker(marker)">
      <label  class=" cursor-pointer mt-5">
        <span class=" text-black text-xs overflow-hidden ">
          {{ marker.mapboxMarker.getLngLat() | json}}
        </span>
        <input
        type="radio" name="radio-10" checked="checked"
        class="radio"
        [style]="{backgroundColor: marker.mapboxMarker._color}"/>
      </label>
    </div>
  }

  @empty {
    <div class="flex justify-center items-center bg-blue-100 rounded py-5">
      <p class="text-xs text-secondary">
        no hay marcadores
      </p>
    </div>
  }

</div>
</section>
