<section class="container mx-auto">
  <h2 class="text-3xl font-bold mb-2">Casas</h2>
  <h3 class="text-xl text-gray-500 mb-2"></h3>
</section>


<section class=" px-10 py-5 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2">

  <!-- card -->

  @for(house of houses(); track house.id){
    <div class="card bg-base-100 w-96 shadow-xl rounded-t-md overflow-hidden">
      <app-minimap [houseCoordinates]="house.lngLat"></app-minimap>
<!--       <figure>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure> -->
      <div class="card-body">
        <h2 class="card-title">
          {{house.name}}
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>{{house.description}}</p>
        <div class="card-actions justify-end">

          @for(tag of house.tags; track tag){
            <div class="badge badge-primary">{{tag}}</div>
          }

        </div>
      </div>
    </div>
  }


  <!-- card -->

</section>
